@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')

/*:root {
    --ff-primary: 'Montserrat'. sans-serif;
    --primary-clr: rgb(244,244,244);
    --secondary-clr: #cb0129;
    --accent-clr: black;
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    width: 100%;
    background: white;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}

/*Logo section start*/
nav .icon {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: black;
    cursor: pointer;
}
/*Logo section end*/

nav ul {
    display: flex;
    list-style: none;
    margin: auto 0;
}

nav ul li {
    margin: 0 2px;
}

nav ul li a {
    display: inline-block;
    color: black;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 15px 30px;
}

nav .search-box {
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}

nav .search-box input {
    border: black;
    outline: black;
    background: lightgray;
    height: 100%;
    padding: 0 10px;
    font-size: 18px;
    width: 500px;
}


.navbar {
    background: red;
}

.navbar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.navbar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.active, .navbar ul li:hover {
    background: pink;
    border-radius: 4px;
}

.dropdown {
    display: none;
}

.navbar ul li:hover .dropdown {
    display: block;
    position: absolute;
    background: gray;
    margin-top: 15px;
    margin-left: -15px;
    border-radius: 0px 0px 4px 4px;
}

.navbar ul li:hover .dropdown ul {
    display: block;
    margin: 10px;
}

.navbar ul li:hover .dropdown ul li {
    width: 100px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 4px;
    text-align: left;
}

.navbar ul li:hover .dropdown ul li:last-child {
    border-bottom: none;
}

a:hover {
    color: #f0c330;
    transition: 0.5s;
}





/*.content-sidebar {
    display: flex;
    width: 100%;
}


.grid   {
    display: grid;
    grid-template-rows: 50px;
    grid-auto-columns: 2fr 1fr;
}
*/




footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: red;
    color: white;
}